*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;    
}

.page-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: flex-end;
    height: 55px;
}

.nav-group-logo{    
    font-family:'DM Sans', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color: turquoise;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-group-page-itens{
    font-family: 'DM Sans', sans-serif;
    width: 610px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.nav-group-page-itens a:hover{
    color: lightgrey;
}

.nav-group-social-media{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 55px);
}

.home-item span{
    color: turquoise;
}

.home-item{
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.profile{
    border-radius: 50%;
    width: 300px;
    max-height: 300px;
    border: 15px solid turquoise;
}

/* ABOUT PAGE */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 55px);
    width: 720px;
}

.section-about-item{
    font-family: 'Poppins', sans-serif;
}

.section-about-item h1 {
    font-size: 36px;
}

.section-about-item p {
    font-size: 18px;
    color: #666;
    text-align: justify;
}

h2{
    font-weight: lighter;
    color: #666;    
}

.about-item span{
    color: #666;
    margin-bottom: 12px;
}

.education-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    
}

/* TECH STACK */

.techStack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 55px);
    width: 720px;
}

.section-techStack h1{
    font-size: 36px;
}

.section-techStack p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #666;
    text-align: justify;
}

.techStack-container{
    display: flex;
    gap: 64px;
}


/* PROJECTS */

.projects{
    display: flex;
    flex-direction: column;    
    min-height: calc(100vh - 55px);
    width: 720px;
    margin-top: 75px;
}

.section-projects h1{
    font-size: 36px;
}

.section-projects p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #666;
    text-align: justify;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
}

.project-card{
    display: flex;
    flex-direction: column;
    height: 490px;
    width: 373px;
    background: lightgray;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    border-radius: 5%;    
}

.screen{
    width: 373px;
    height: 260px;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px; 
}

.project-card h1{
    font-size: 18px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;    
}

.project-card p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;   
}

.link-icon{
    height: 20px;
    width: 20px;
}

.project-card u{
    display: flex;
    gap: 3px;
    font-family: 'Poppins', sans-serif;
    font-size:14px;    
    padding-top: 15px;
}

.link-container{
    display: flex;
    justify-content: space-around;
    max-width: 350px;
}

/* CONTACT PAGE */

.contact{
    display: flex;  
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 55px);
}

.section-contact span{
    color: turquoise;
}